<?xml version="1.0"?>
<config>
	<id>community-3-latest-posts-all</id>
	<type>widget</type>
	<category>
		<main>post</main>
		<sub>latest</sub>
	</category>
	<name>
		<en>Post Latest</en>
		<ko>Post Latest</ko>
	</name>
	<version>0.1</version>
	<author>JaeHo Song</author>
	<email>thruthesky@gmail.com</email>
	<homepage>http://jaehosong.com</homepage>
	<demo>http://philgo.net</demo>
	<short>
		<en>Displays latest posts from all forums.</en>
		<ko>Displays latest posts from all forums.</ko>
	</short>
	<detail>
		<en>Displays latest posts regardless of what forum id it is.</en>
		<ko>Displays latest posts regardless of what forum id it is.</ko>
	</detail>
</config>
